#commercetools config
CTP_PROJECT_KEY=
CTP_CLIENT_SECRET=
CTP_CLIENT_ID=
CTP_AUTH_URL=
CTP_API_URL=
CTP_SCOPES=

#gr4vy
GR4VY_PRIVATE_KEY_PATH=

#app configuration
APP_CORS_ALLOWED_HOSTS=

#logger
# stdout or file
LOGGER_TYPE=
# should be define the path if LOGGER_TYPE=file
LOGGER_PATH=

#max retry to update payment information
PAYMENT_UPDATE_MAX_RETRY=
PAYMENT_UPDATE_RETRY_INTERVAL=